@using Barinak.Models.Siniflar
@model List<Rehber>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Bilgi Listesi</h2>
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Başlık</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.ID</td>
            <td>@x.Baslik</td>
            <td><a href="/Admin/RehberSil/@x.ID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Admin/RehberGetir/@x.ID" class="btn btn-warning">Güncelle</a></td>
        </tr>
    }

</table>
<a href="/Admin/YeniRehber/" class="btn btn-primary">Yeni Bilgi</a>

